.container{
    
    .social-share{
        position: sticky;
        top: 120px;
        width: 36px;
        float: left;
        margin: 5px 0px 0px -162px;
    
        ul {
                list-style-type: none;

                li{
                    margin-bottom: 5px;
                }

                li:hover{
                    cursor: pointer;
                }
        }
    
    }

    .content{
        margin: 4em 10em;
        width: 70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            margin-top: 20px;
            margin-bottom: 20px;
            max-height:600px;
            max-width: 70%;
            object-fit: cover;
        }
    }

    p{
        font-size: 17px;
    }
}
