.media{
    .media-body{
        height:150px;
    }
    .item-img{
        height: 150px;
        object-fit: cover;
        width: 150px;
        border-radius: 34px;
    }
}
.link{
    text-decoration: none;
    color:black;
   
}
.link:hover{
    text-decoration: none;
    color:black;
}
